#title{
    position: absolute;
    /*background: linear-gradient(to right,#bbbbbb 50%,#111111 50%);*/ background-color: #aaa; 
    margin-top: -0.6%;
    margin-left: -0.6%;
    width: 100%;
    height: 15%;
}

#title h1{
    font-size: 300%;
    font-family: sans-serif;
}

#login{
    position: absolute;
    height: 83.5%;
    width: 50%;
    margin-left: -0.6%;
    margin-top: 6.6%;
    border-top-color: #ddd;
    border-top-style: solid;
    border-top-width:10px;
}

#lgtext{
    text-align: center;
    margin-top: 20%;
    height: 8%;
    font-size: 250%;
    color: #333333;
    width: 80%;
    margin-left: 10%;
    font-family: sans-serif;
    border-bottom-color: #222;
    border-bottom-style: ridge;
    border-bottom-width: thin;
    cursor: default;
}
#linput{
    margin-top: 3%;
    height: 30%;
    width: 60%;
    margin-left: 20%;
    border-bottom-color: #222222;
    border-bottom-style: ridge;
    border-bottom-width: thin;
    padding-bottom: 2%;
}

.lbox{
    background-color: #222;
    color:white;
    margin-top: 5%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
    height: 25%;
    width: 80%;
    border: none;
    outline: none;
    border-radius:2px;
}

.lbut{
    background-color: #222222;
    color:white;
    margin-top: 3%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
    height: 20%;
    width: 30%;
    border: none;
    outline: none;
    cursor: pointer; 
}

.fgpd{
    width: 30%; 
    margin-left: 35%;
    margin-top: 3%;
}

.fgpd a{
    font-size: 120%;
    text-align: center;
    color: #888888;
    text-decoration: none;
}

#register{
    position: absolute;
    height: 83.5%;
    width: 50%;
    margin-left: 49.4%;
    margin-top: 6.6%;
    border-top-color: #555;
    border-top-style: solid;
    border-top-width:10px;
}

#rgtext{
    text-align: center;
    margin-top: 10%;
    height: 8%;
    font-size: 250%;
    color: #333;
    width: 80%;
    margin-left: 10%;
    font-family: sans-serif;
    border-bottom-color: #1f1f1f;
    border-bottom-style: ridge;
    border-bottom-width: thin;
    cursor: default;
}

#rinput{
    margin-top: 3%;
    height: 30%;
    width: 60%;
    margin-left: 20%;
    border-bottom-color: #1f1f1f;
    border-bottom-style: ridge;
    border-bottom-width: thin;
    padding-bottom: 21%;
}

#rinput form p{
    font-size: 120%;
    margin-top: 2%;
    margin-bottom: 0%;
    text-align: center;
}

.rbox{
    text-align: center;
    background-color: #222222;
    color:white;
    margin-top: 3%;
    font-family: sans-serif;
    font-size: 100%;
    height: 25%;
    width: 80%;
    border: none;
    outline: none;
    border-radius:2px;
}

input[type=date] {
  height: 13%;
  margin: 0 auto;
  width: 45%;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f,40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;

  ::-webkit-datetime-edit-month-field {
    color: red;
  }
  ::-webkit-datetime-edit-day-field {
    color: white;
  }
  ::-webkit-datetime-edit-year-field {
    color: blue;
  }
  
  ::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  ::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {
    font-size: 18px;
    
        
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

.rbut{
    background-color: #222222;
    color:white;
    margin-top: 2%;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
    height: 20%;
    width: 30%;
    border: none;
    outline: none;
    cursor: pointer;
}




